<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Listado de Categorías
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style tablas.css">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Listado de Categorías'>
	<meta property="og:type" content='Listado'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/categoria_listado'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Aqui se encuentran los datos de cada categoría.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
	    <h1 style="text-align: center; font-weight: bold">
	        Lentes de Sol para Toda la Familia
	    </h1>
	    <h2 style="text-align: center; font-weight: normal">Listado de Categorías</h2>
		<hr>
		<% if (data.length > 0) { %>
		<table>
			<thead>
				<tr>
					<th id="cat-nombre">Nombre</th>
					<th id="cat-id">ID</th>
					<th id="cat-acciones">Acciones</th>
				</tr>	
			</thead>
			<tbody>
				<% data.forEach(function(row) { %>
				<tr>
					<td><%= row.nombre %></td>
					<td><%= row.id %></td>
					<td>
						<div id="buttons">
							<!--
							<form action="/categoria_listado/categoria_insertar/<%= row.id %>" method="get">
								<input class="insert_button" type="submit" value="">
							</form>
							-->
							<form action="/categoria_listado/categoria_modificar/<%= row.id %>" method="get">
								<input class="modify_button" type="submit" value="">
							</form>
							<form action="/eliminarCategoria" method="post">
								<input name="id" type="hidden" value="<%= row.id %>">
								<input class="delete_button" type="submit" value="">
							</form>
						</div>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<% } else { %>
		<p style="text-align: center; font-weight: normal;">No existen categorías actualmente.</p>
		<% }; %>
		<br>
		<p style="text-align: center;"><a target="_self" href="/index_admin">Volver a la Interfaz Principal</a></p>
	</div>
</body>

</html>