<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Listado de Clientes
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style tablas.css">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Listado de Clientes'>
	<meta property="og:type" content='Listado'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/clientes_listado'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Aqui se encuentran los datos de cada categoría, al igual que las compras hechas por cada cliente.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold">
			Lentes de Sol para Toda la Familia
		</h1>
		<h2 style="text-align: center; font-weight: normal">Listado de Clientes</h2>
		<hr>
		<h2 style="text-align: center;">Usuarios</h2>
		<% if (data.length > 0) { %>
		<table>
			<thead>
				<tr>
				<!--	<th>ID</th>	-->
					<th>Correo</th>
					<th>Contraseña</th>
					<th>Acciones</th>
				</tr>	
			</thead>
			<tbody>
				<% data.forEach(function(row) { %>
				<tr>
				<!--	<td><%= row.id %></td>	-->
					<td><%= row.email %></td>
					<td><%= row.contraseña %></td>
					<td>
						<div id="buttons">
							<form action="/eliminarCliente" method="post">
								<input name="id" type="hidden" value="<%= row.id %>">
								<input class="delete_button" type="submit" value="">
							</form>
						</div>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<% } else { %>
		<p style="text-align: center; font-weight: normal;">No existen clientes actualmente.</p>
		<br>
		<% }; %>
		<h2 style="text-align: center;">Ventas</h2>
		<% if (data2.length > 0) { %>
			<table>
			<thead>
				<tr>
				<!--	<th>ID</th>	-->
					<th>ID del Cliente</th>
					<th>ID del Producto</th>
					<th>Cantidad</th>
					<th>Precio Total</th>
					<th>Fecha</th>
					<th>IP del Cliente</th>
				</tr>	
			</thead>
			<tbody>
				<% data2.forEach(function(row2) { %>
				<tr>
				<!--	<td><%= row2.id %></td>	-->
					<td><%= row2.cliente_id %></td>
					<td><%= row2.producto_id %></td>
					<td><%= row2.cantidad %></td>
					<td><%= row2.total_pagado %></td>
					<td><%= row2.fecha %></td>
					<td><%= row2.ip_cliente %></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
		<% } else { %>
		<p style="text-align: center; font-weight: normal;">No se han hecho ningunas ventas actualmente.</p>
		<% }; %>
		<br>
		<p style="text-align: center;"><a target="_self" href="/index_admin">Volver a la Interfaz Principal</a></p>
	</div>
</body>
</html>