<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Interfaz Pública</title>

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style interfaz_public.css" />

    </head>

    <body>
    <div id="screen">
        <h1 style="text-align: center; font-weight: bold">
            Lentes de Sol para Toda la Familia
        </h1>
        <h2 style="text-align: center; font-weight: normal">Interfaz Pública</h2>
        <hr/>
        <h3>Filtrar productos</h3>
        <div id="filtering">
            <div id="filter-nombre">
                <label for="nombre">Nombre</label>
                <br>
                <input id="nombre_busq" onkeyup="prodBusqueda()" type="text" name="nombre_busq" placeholder="Filtrar por nombre...">
            </div>
            <div id="filter-descripcion">
                <label for="descripcion">Descripción</label>
                <input id="desc_busq" onkeyup="prodBusqueda()" type="text" name="descripcion" placeholder="Filtrar por descripción...">
            </div>
            <div id="filter-color">
                <label for="color">Color</label>
                <br>
                <input id="color_busq" onkeyup="prodBusqueda()" type="text" name="color" placeholder="Filtrar por color...">
            </div>
            <div id="filter-talla">
                <label for="talla">Talla</label>
                <input id="talla_busq" onkeyup="prodBusqueda()" type="text" name="talla" placeholder="Filtrar por talla...">
            </div>
            <!--
            <div id="filter-codigo">
                <label for="codigo">Código</label>
                <input type="text" name="codigo" placeholder="Código" id="codigo">
            </div>
            <div id="filter-precio">
                <label for="precio">Precio</label>
                <input type="text" name="precio" placeholder="Precio" id="precio">
            </div>
            <div id="filter-categoria">
                <label for="categoria">Categoría</label>
                <input type="number" min="1" name="categoria" placeholder="Categoría" id="categoria">
            </div>
            -->
        </div>

        <script>
            function prodBusqueda() {
                let inputNombre = document.getElementById('nombre_busq')
                let inputDesc = document.getElementById('desc_busq')
                let inputColor = document.getElementById('color_busq')
                let inputTalla = document.getElementById('talla_busq')
                inputNombre = inputNombre.value.toLowerCase();
                inputDesc = inputDesc.value.toLowerCase();
                inputColor = inputColor.value.toLowerCase();
                inputTalla = inputTalla.value.toLowerCase();
                let x = document.getElementsByClassName('product');

                for (i = 0; i < x.length; i++) {
                    txtValue = x[i].textContent || x[i].innerText
                    if (!txtValue.toLowerCase().includes(inputNombre) || !txtValue.toLowerCase().includes(inputDesc) || !txtValue.toLowerCase().includes(inputColor) || !txtValue.toLowerCase().includes(inputTalla)) {
                        x[i].style.display="none";
                    }
                    else {
                        x[i].style.display="";
                    }
                }
            }
        </script>

        <button class="list-button">Cambiar a modo lista</button>
        <div class="lista-productos">
        
        <% products.forEach(function(product) { %>
        
        <div class="product">
            <img src="<%= product.img %>" alt="<%= product.nombre %>" />
            <h2 class="product_nombre"><%= product.nombre %></h2>
            <p><%= product.descripcion %></p>
            <p class="product_talla">Talla: <%= product.talla %></p>
            <p class="product_color">Color: <%= product.color %></p>
            <p class="product_codigo">Código: <%= product.codigo %></p>
            <p class="product_categoria_id">Categoría: <%= product.categoria_id %></p>
            <p class="product_precio">Precio: <%= product.precio %></p>
        </div>
        
        <% }); %>
      
        </div>

    <script>
        document.querySelector('.list-button').addEventListener('click', function() {
            var productList = document.querySelector('.lista-productos');
            productList.classList.toggle('list-view');
  
            this.textContent = productList.classList.contains('list-view')
            ? 'Cambiar a modo cuadricula'
            : 'Cambiar a modo lista';
        });
    </script>
    </div>
    </body>
</html>
