<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Vista de Producto</title>

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style venta.css"/>
    </head>

    <body>
        <div id="screen">
            <div id="split">
                <div id="left">
                <% products.forEach(function(product) { %>
                    <h1><%= product.nombre %></h1>
                    <p class="justify"><i>"<%= product.descripcion %>."</i></p>
                    <hr>
                    <table>
                        <tr>
                            <th colspan="2" class="title-row">Datos adicionales del producto:</th>
                        </tr>
                        <tr>
                            <th>Talla:</th>
                            <td><%= product.talla %></td>
                        </tr>
                        <tr>
                            <th>Color:</th>
                            <td><%= product.color %></td>
                        </tr>
                        <tr>
                            <th>Código:</th>
                            <td><%= product.codigo %></td>
                        </tr>
                        <tr>
                            <th>ID de la Categoría:</th>
                            <td><%= product.categoria_id %></td>
                        </tr>
                    </table>
                </div>
                <div id="right">
                    <img class="destacado" src="<%= product.img %>" alt="">
                    <div id ="small_images">
                        <img src="<%= product.img %>" alt="">
                        <img src="<%= product.img %>" alt="">
                        <img src="<%= product.img %>" alt="">
                    </div>
                    <div id="precio_boton">
                        <p>Precio: <span>$<%= product.precio %></span></p>
                        <form action="/index_public/producto_venta/<%= product.id %>/producto_compra" method="get" target="_blank">
                            <input class="buy_button" type="submit" value="">
                        </form>
                    </div>
                <% }); %>
                </div>
            </div>
        </div>
    </body>

</html>
