<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Modificación de Productos
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Modificar Productos'>
	<meta property="og:type" content='Modificación'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/producto_modificar'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Aqui se modifican los datos de los productos.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold;">Lentes de Sol para Toda la Familia</h1>
		<h2 style="text-align: center; font-weight: normal;">Modificar Productos</h2>
		<hr>
		<p>Modifique el producto como usted desee.</p>
		<form action="/modificarProducto" method="post">
			<div id="form">
				<% data.forEach(function(row) { %>
				<input name="id" type="hidden" value="<%= row.id %>">
				<div id="form-nombre">
		      		<label for="nombre">Nombre del Producto</label>
					<input type="text" name="nombre" id="nombre" value="<%= row.nombre %>">
		    	</div>
		    	<div id="form-color">
		        	<label for="color">Color</label>
		        	<input type="text" name="color" id="color" value="<%= row.color %>">
		    	</div>
		    	<div id="form-talla">
		        	<label for="talla">Talla</label>
		        	<input type="text" name="talla" id="talla" value="<%= row.talla %>">
		    	</div>
		    	<div id="form-codigo">
		        	<label for="codigo">Código</label>
		        	<input type="text" name="codigo" id="codigo" value="<%= row.codigo %>">
		    	</div>
		    	<div id="form-precio">
		        	<label for="precio">Precio</label>
		        	<input type="text" name="precio" id="precio" value="<%= row.precio %>">
		    	</div>
		      	<div id="form-descripcion">
		        	<label for="descripcion">Descripción</label>
		        	<input type="textarea" name="descripcion" id="descripcion" value="<%= row.descripcion %>">
		    	</div>
		    </div>
	      	<div class="last-input" id="form-categoria">
	        	<label for="categoria_id">Categoría</label>
	        	<input type="number" min="1" name="categoria_id" id="categoria_id" value="<%= row.categoria_id %>">
	    	</div>
	    	<% }); %>
	    	<br>
	    	<div id="form-submit">
				<button type="submit">Enviar</button>
			</div>
		</form>
	</div>
</body>
</html>