<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WCXNCP933P');
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Vista de Producto</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style venta.css"/>

    <!-- Propiedades de Open Graph Protocol -->
    <meta property="og:title" content='Vista del Producto'>
    <meta property="og:type" content='Producto'>
    <meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/producto_venta'>
    <meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
    <meta property="og:description" content='Aqui se visualiza el producto con cada detalle.'>

    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "WebPage",
            "name": "Lentes de Sol para Toda la Familia"
        }
    </script>
</head>

<body>
    <div id="screen">
        <h1 style="text-align: center; font-weight: bold;">Lentes de Sol para Toda la Familia</h1>
        <h2 style="text-align: center; font-weight: normal;">Vista del Producto</h2>
        <div id="split">
            <div id="left">
            <% products.forEach(function(product) { %>
                <h1><%= product.nombre %></h1>
                <p class="justify"><i>"<%= product.descripcion %>."</i></p>
                <hr>
                <table>
                    <tr>
                        <th colspan="2" class="title-row">Datos adicionales del producto:</th>
                    </tr>
                    <tr>
                        <th>Talla:</th>
                        <td><%= product.talla %></td>
                    </tr>
                    <tr>
                        <th>Color:</th>
                        <td><%= product.color %></td>
                    </tr>
                    <tr>
                        <th>Código:</th>
                        <td><%= product.codigo %></td>
                    </tr>
                    <tr>
                        <th>ID de la Categoría:</th>
                        <td><%= product.categoria_id %></td>
                    </tr>
                </table>
            </div>
            <div id="right">
                <img class="destacado" src="<%= product.img %>" alt="">
                <div id ="small_images">
                    <img src="<%= product.img %>" alt="">
                    <img src="<%= product.img %>" alt="">
                    <img src="<%= product.img %>" alt="">
                </div>
                <div id="precio_boton">
                    <p>Precio: <span>$<%= product.precio %></span></p>
                    <form action="/producto_compra/<%= product.id %>" method="get" target="_self">
                        <input class="buy_button" type="submit" value="">
                    </form>
                </div>
            <% }); %>
            </div>
        </div>
    </div>
</body>

</html>
