<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<% products.forEach(function(product) { %>
		<%= product.nombre %> 
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style compra.css">

</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold;">Lentes de Sol para Toda la Familia</h1>
		<h2 style="text-align: center; font-weight: normal;">Compra del Producto</h2>
		<hr>
		<p style="margin: 0px;">Para finalizar su compra, se requerirá ingresar sus credenciales.</a></p>
		<br>
		<form action="/realizarCompra" method="post">
			<div id="producto_id">
				<input type="hidden" name="producto_id" value="<%= product.id %>">
			</div>
			<div id="description" class="justify">
				<label for="description">Descripción</label>
				<p>"<%= product.descripcion %>."</p>
				<input type="hidden" id="description" name="description" value="<%= product.descripcion %>">
			</div>
			<div id="full_name">
				<label for="full_name">Nombre Completo</label>
				<input type="text" id="full_name" name="full_name" required>
			</div>
			<div id="card_number">
				<label for="card_number">Tarjeta de Crédito</label>
				<select name="card_number" id="card_number" required>
    				<option value="4111111111111111">Visa</option>
    				<option value="5555555555554444">Mastercard</option>
    				<option value="378282246310005">American Express</option>
    				<option value="6011111111111117">Discover</option>
    				<option value="3530111333300000">JCB</option>
    				<option value="30569309025904">Diners Club</option>
				</select>
			</div>
			<div id="cvv">
				<label for="cvv">Código de Seguridad</label>
				<input type="text" id="cvv" name="cvv" required>
			</div>
			<div id="expiration_month">
				<label for="expiration_month">Mes de Caducidad</label>
				<input type="text" id="expiration_month" name="expiration_month" required>
			</div>
			<div id="expiration_year">
				<label for="expiration_year">Año de Caducidad</label>
				<input type="text" id="expiration_year" name="expiration_year" required>
			</div>
			<div id="cvv">
				<label for="cantidad">Cantidad</label>
				<input id="inputAmountQuantity" type="number" min="1" name="cantidad" value="1" required>
			</div>
			<div id="amount">
			<p>Precio Total: <span id="totalAmountCostSpan">$<%= product.precio %></span></p>
			<input type="hidden" id="totalAmountCostInput" name="amount" value="$<%= product.precio %>">
			<br>
			<div id="form-submit">
				<button type="submit">Completar compra</button>
			</div>
		</form>

		<script>
			var amountInput = document.getElementById("totalAmountCostInput");
			var inputAmountQuantity = document.getElementById("inputAmountQuantity");
			var amountCost = parseFloat("<%= product.precio %>");
			var totalAmountCostSpan = document.getElementById("totalAmountCostSpan");

			function changeCost(num) {
			  var cost = new Number(parseFloat(num) * amountCost).toFixed(2);
			  return cost;
			}

			inputAmountQuantity.addEventListener('input', function(event) {
			  var value = event.target.value;
			  if (!isNaN(value)) {
			    var cost = changeCost(value).replace('.', ',');;
			    amountInput.value = '$' + cost;
			    totalAmountCostSpan.textContent = '$' + cost;
			  }
			});
		</script>
		<% }); %>
	</div>
</body>
</html>